<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container {
        position: relative;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .hexagon {
        position: relative;
        width: 350px;
        height: 350px;
        margin: 50px 20px 70px;
        
    }

    /* .container .hexagon::before {
        content: '';
        position: absolute;
        bottom: -70px;
        width: 100%;
        height: 60px;
        background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
        border-radius: 50%;
        transition: 0.5s;
    } */
/* 
    .container .hexagon:hover::before {
        opacity: 0.8;
        transform: scale(0.8);
    } */

    .container .hexagon .shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 50%;
        background: rgb(171, 127, 6);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        transition: 0.5s;

    }


    /* .container .hexagon .shape .h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        color: aliceblue;
        background: linear-gradient(45deg, #03a9f4, rgba(3, 169, 244, 0, 5));
        opacity: 0;
        transition: 0.5s;
    } */

    /* .container .hexagon:hover .shape .content {
        opacity: 1;
    } */


    .container .hexagon:hover .shape {
        transform: translateY(-30px);
      
    }


    h2 {
        color: white;
        text-align: center;
        margin: 25px;
    }
</style>

<body>
    <div class="container">
        <div class="hexagon">
            <div class="shape">
                <h2>Turnkey interior and contracting solutions</h2>
            </div>
        </div>

        <div class="hexagon">
            <div class="shape">
                <h2>Glass and Aluminium</h2>
            </div>
        </div>

        <div class="hexagon">
            <div class="shape">
                <h2>Working Drawings</h2>
            </div>
    </div>
            
            <div class="hexagon">
                <div class="shape">
                    <h2>Conceptual Cost Estimating</h2>
                </div>
            </div>

            <div class="hexagon">
                <div class="shape">
                    <h2>Space Planning</h2>
                </div>
            </div>

            <div class="hexagon">
                <div class="shape">
                    <h2>Joinery & Carpentry</h2>
                </div>
                
                <div class="hexagon">
                    <div class="shape">
                        <h2>2D & 3D Designing</h2>
                    </div>
                </div>

                <div class="hexagon">
                    <div class="shape">
                        <h2>Ceiling & Partitions</h2>
                    </div>
                </div>

                <div class="hexagon">
                    <div class="shape">
                        <h2>Flooring & Ceramic Work</h2>
                    </div>
                    <div class="hexagon">
                        <div class="shape">
                            <h2>Frame-less Shop Front Partitions</h2>
                        </div>
                    </div>

                    <div class="hexagon">
                        <div class="shape">
                            <h2>MEP</h2>
                        </div>
                    </div>

                    <div class="hexagon">
                        <div class="shape">
                            <h2>Civil Work</h2>
                        </div>
                        <div class="hexagon">
                            <div class="shape">
                                <h2>Color & Materials Selections</h2>
                            </div>
                        </div>

                        <div class="hexagon">
                            <div class="shape">
                                <h2>Folding and Telescopic Sliding Doors</h2>
                            </div>
                        </div>

                        <div class="hexagon">
                            <div class="shape">
                                <h2>Signage & Graphic Designing</h2>
                            </div>
                            <div class="hexagon">
                                <div class="shape">
                                    <h2>Renovation</h2>
                                </div>
                            </div>

                            <div class="hexagon">
                                <div class="shape">
                                    <h2>Office Furniture & Furishing</h2>
                                </div>
                            </div>

                            <div class="hexagon">
                                <div class="shape">
                                    <h2>Switchable Glass & Magic Mirror</h2>
                                </div>
                            </div>


</body>